<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="refresh" CONTENT="0;URL=$redirect">
</head>
<body>
<style  type="text/css>
a {color:#FFFFFF}
</style>
<h1><a href="$redirect">Click here if not redirected automatically</a></h1>
</body>
</html>
