<?xml version="1.0"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>MC Production Operations Reports</title>
  <updated>2007-07-19T18:07:02Z</updated>
  <id>https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports.html</id>
  <author>
    <name>MC Production Operations Reports</name>
  </author>
  <link href="http://hyperfeeds.hifi-bonsai.com/MC_Production_Operations_Reports.xml" rel="self"/><entry>
    <id>https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/48.html</id>
    <link href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/48.html" rel="alternate"/>
    <published>2007-07-17T15:32:00Z</published>
    <updated>2007-07-17T15:32:00Z</updated>    
    <author>
      <name>Joris Maes</name> 
    </author>
    <title type="text">LCG5 status report</title>
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
        <pre>Dear All,<br/>
a short report on the production status at LCG5, a more detailed report<br/>
will follow later.<br/>
Issues<br/>
- Only FZK is missing CMSSW_1_3_5, other sites are ok, we will start<br/>
submitting DIGI-RECO for the alpgen samples<br/>
- Once Andrei agrees we will consider some stuck workflows as done<br/>
although they hav less than 100% of the requested number of events<br/>
- Stijn upgraded PA (PA029) which contains the boss bugfix<br/>
Most of the workflows are continuing fluently, no major site problems.</pre>
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/48.html">Read message</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/48.html">Read thread</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/edit-subscribe.pl/mcOps-reports/48.html">Subscribe thread</a>&#xa0;

        </div>
    </content>
</entry>
<entry>
    <id>https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46/1.html</id>
    <link href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46/1.html" rel="alternate"/>
    <published>2007-07-17T14:45:00Z</published>
    <updated>2007-07-17T14:45:00Z</updated>    
    <author>
      <name>Wen Guan</name> 
    </author>
    <title type="text">LCG7 report</title>
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
        <pre>Hi all,<br/>
1)total status<br/>
/QCD_Pt_800_1000/CMSSW_1_4_4-CSA07-1955/GEN-SIM        750k    785k      785k(done)<br/>
/QCD_Pt_15_20/CMSSW_1_4_4-CSA07-1959/GEN-SIM           1.25M   1.34M     1.34M(done)<br/>
/QCD_Pt_80_120/CMSSW_1_4_4-CSA07-1963/GEN-SIM          1.25M   1.29M     1.25M(done)<br/>
/PhotonJets_Pt_300_500/CMSSW_1_4_4-CSA07-1986/GEN-SIM  500k    593k      503k (done)<br/>
/PhotonJets_Pt_80_120/CMSSW_1_4_4-CSA07-1983/GEN-SIM   500k    740k      474k<br/>
/QCD_Pt_1400_1800/CMSSW_1_4_4-CSA07-1972/GEN-SIM       750k    665k      610k<br/>
/QCD_Pt_2600_3000/CMSSW_1_4_4-CSA07-1975/GEN-SIM       750K    48k       24k<br/>
/QCD_Pt_300_380/CMSSW_1_4_4-CSA07-1967/GEN-SIM         1.25M   1.39M     1.29M(done)</pre>
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46/1.html">Read message</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46.html">Read thread</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/edit-subscribe.pl/mcOps-reports/46.html">Subscribe thread</a>&#xa0;

        </div>
    </content>
</entry>
<entry>
    <id>https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/47.html</id>
    <link href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/47.html" rel="alternate"/>
    <published>2007-07-17T13:55:00Z</published>
    <updated>2007-07-17T13:55:00Z</updated>    
    <author>
      <name>Takahashi, Maiko</name> 
    </author>
    <title type="text">LCG6 report</title>
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
        <pre>Dear All,<br/>
Here is the status of the CSA07 production at LCG6.<br/>
News:<br/>
(1) RHUL back from the air-conditioning failure, but Estonia still under upgrade+maintenance<br/>
(2) FZK now available for LCG6 (max 300 jobs slots)<br/>
Dataset           Requested   Unmerged   Merged<br/>
-------------------------------------------------<br/>
QCD_Pt_20_30      2.5M        2.5M       2.3M  (92% done)<br/>
QCD_Pt_120_170    1.25M       0.9M       0.8M  (67% done)<br/>
QCD_Pt_380_470    1.25M       1.1M       1.0M  (79% done)</pre>
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/47.html">Read message</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/47.html">Read thread</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/edit-subscribe.pl/mcOps-reports/47.html">Subscribe thread</a>&#xa0;

        </div>
    </content>
</entry>
<entry>
    <id>https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46.html</id>
    <link href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46.html" rel="alternate"/>
    <published>2007-07-17T12:36:00Z</published>
    <updated>2007-07-17T12:36:00Z</updated>    
    <author>
      <name>Salvatore My</name> 
    </author>
    <title type="text">[CSA07] LCG3 report</title>
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
        <pre>Dear all,<br/>
heare the report of the CSA07 production by the LCG3 team.<br/>
Salvatore<br/>
CSA07 LCG3 Production Report (17.07.2007)<br/>
Dataset: CSA07-QCD_Pt_3500_inf-1977<br/>
requested events:		750 k<br/>
tot unmerged events:	426102 (57%)<br/>
tot merged events:		251938 (34%)<br/>
average time to produce 1 event 915 s<br/>
short site statistics</pre>
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46.html">Read message</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/get/mcOps-reports/46.html">Read thread</a>&#xa0;
<a href="https://hypernews.cern.ch/HyperNews/CMS/edit-subscribe.pl/mcOps-reports/46.html">Subscribe thread</a>&#xa0;

        </div>
    </content>
</entry>

</feed>
