<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css"/>

    <meta name="Owner" content="CERN" />
    <meta name="Description" content="Web application for CMS T0 monitoring" />

    <meta http-equiv="refresh" content="300" />

    <link rel="stylesheet" type="text/css" href="/T0Mon/css/main.css" />

    <!--

    <script type="text/javascript" src="https://cmsweb.cern.ch/sitedb/YUI/yui/js/?script=yahoo.js&script=dom.js&script=event.js&script=container_core.js&script=connection.js&script=dragdrop.js&script=container.js"></script>
    <script type="text/javascript" src="https://cmsweb.cern.ch/sitedb/Common/masthead"></script>

    <script type="text/javascript">
    function footerMenuText(){
        return [
            {title: "T0Mon main page", link: "http://vocms13.cern.ch:8030/T0Mon/", label: "Main page"}
        ]
    }
    </script>

    -->

    <title>T0 Monitor</title>
</head>

<!--
<body onload="insertMastHead ('T0Mon', 'T0Mon Navigation :: ', true);" id="content">
-->
<body>
