<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--Data Transfer--> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Web Tools :: Data Transfer Services </title>

<link rel="stylesheet" type="text/css" href="/base/Common/mastheadcss?site=phedex"/>

<script type="text/javascript" src="/base/YUI/yui/js/?script=yahoo.js&script=dom.js&script=event.js&script=container_core.js&script=connection.js&script=dragdrop.js&script=container.js"></script>
	
<script type="text/javascript" src="/base/Common/masthead"></script>
<script type="text/javascript">
function footerMenuText(){
    return [
{label: "PhEDEx Home", link: "/phedex/", title: "Data placement, transfer monitoring"},
{label: "FileMover", link: "/filemover/", title: "Fetch your favorite LFN"},
    ]
}
</script>
<style type="text/css">
.normal {
  font-size: 12px;
  font-family: verdana, sans-serif;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.sectionhead {
  font-weight : bold;
  font-size : 12px;
  font-family : 'Verdana', 'Arial';
  line-height : 20px;
  color : #666666;
  clear: left;
}
.sectionbig {
  font-weight : bold;
  font-size : 16px;
  font-family : 'Verdana', 'Arial';
  text-decoration: underline;
  line-height : 40px;
  color : #666666;
  clear: left;
}
hr.tiny {
  width: 100%;
  border: none;
  border-top: 1px dotted #CCCCCC;
}
</style>

</head>
<body onload="insertMastHead('phedex','')" id="content">

<div class="sectionbig">CMS Data Transfer Systems</div>

<hr class="tiny" />
<div class="sectionhead">PhEDEx</div>
<div class="normal">
<a href="/phedex/">PhEDEx</a> 
provides the data placement and file transfer system for the CMS experiment. The project name is short for Physics Experiment Data Export. It is used to transfer large amounts of data between storage elements at sites. 
<br/><br/>

Users make requests to transfer data to their chose site. Once the request is approved it translated into transfer subscriptions. Subscriptions are checked periodically and new files placed into transfer automatically.
<br/><br/>

<a href="/phedex/">PhEDEx</a> should be used to transfer <b>large</b> amounts of data (blocks and datasets) to a site. You cannot transfer individual files from PhEDEx to your computer.
</div>
<br/>

<hr class="tiny" />
<div class="sectionhead">FileMover service</div>
<div class="normal">
<a href="/filemover/">FileMover</a> service was designed to allow
users to request/transfer data via web interface to local disk.
<br/><br/>

Please note that service is designed to prevent large data transfer by applying certain limitations
for users on number of LFNs/user and number of requests/day. 
</div>
<br/>
<hr class="tiny" />
</body>
</html>	
