#include $context.SiteDBCfg.templatesPath + "/base.tmpl"
		<div class="toparea">
			<h1>Select Report</h1>
			<p>Reports are queries run against the database, and can be viewed as HTML or XML. Reports can be restricted (e.g. you need to be logged in) or unrestricted (world readable). Restricted reports typically contain sensitive information (email addresses for instance), unrestricted reports contain information available else where (server names for instance).</p>
		</div>
	$body
	</body>
</html>