#set $basepath = $context.CmdLineArgs.opts.baseUrl
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--SiteDB--> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>SiteDB :: Site Directory</title>
	
	<link rel="stylesheet" type="text/css" href="$basepath/common/css/sitedb_survey.css"/>
	<link rel="stylesheet" type="text/css" href="$basepath/common/css/sitedb_sites.css"/>
	<link rel="stylesheet" type="text/css" href="$basepath/common/css/container.css"/>
	<link rel="stylesheet" type="text/css" href="$basepath/Common/mastheadcss?site=sitedb"/>
	
	<script type="text/javascript" src="$basepath/YUI/yui/js/?script=yahoo.js&script=dom.js&script=event.js&script=container_core.js&script=connection.js&script=dragdrop.js&script=container.js"></script>
	<script type="text/javascript" src="$basepath/YUI/yui/js/?script=imageloader.js"></script>
	<script type="text/javascript" src="$basepath/Common/masthead"></script>
	<script type="text/javascript" src="$basepath/common/js/editentries.js"></script>
	<script type="text/javascript" src="$basepath/common/js/rolesandgroups.js"></script>
	
	<script type="text/javascript">
	function footerMenuText(){
		return [{title: "CMS Site Directory", link: "$basepath/sitelist/", label: "Site Directory"}, 
		{title: "Person Directory", link: "$basepath/people/", label: "Person Directory"},
		{title: "SiteDB Reports", link: "$basepath/reports/", label: "Reports"},
		{title: "Pledged Resources for CMS", link: "$basepath/resources/", label: "Resource Pledges"},
		{title: "SiteDB Surveys", link: "$basepath/surveys/", label: "Surveys"}]
	}
</script>
	</head>
	<body onload="insertMastHead ('sitedb', 'SiteDB Navigation :: ', true); GetGroups ('$basepath');" id="content">
		<div class="toparea">
			<h1>SiteDB :: Role and Group Management</h1>
			<p>See people and their roles in a group, create new roles and groups (Global Administrators only)</p>
		</div>
		<div>
			<p>List of groups:</p>
			<div id="grouplist"/>
		</div>	
#if $context.SecurityDBApi.hasGroupResponsibility($token.dn, "global", "Global Admin")	
		<div>
			<h5>Create and delete roles and groups here</h5>
			<p><a href="$basepath/rolesandgroups/addRole/">Add Role</a></p>
			<p><a href="$basepath/rolesandgroups/addGroup/">Add Group</a></p>
			<p><a href="$basepath/rolesandgroups/deleteRole/">Delete Role</a></p>
			<p><a href="$basepath/rolesandgroups/deleteGroup/">Delete Group</a></p>
		</div>
#end if
	</body>
</html>
