##Basic template that adds header and footer content. Should be depreciated ASAP!!
#include $context.SiteDBCfg.templatesPath + "/base.tmpl"
		<div class="toparea">
			<h1>$title</h1>
		</div>
		$content
	</body>
</html>